{% extends 'base.html' %} {% block content %}

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <h6 class="section-title text-start text-primary text-uppercase">
          About Us
        </h6>
        <h1 class="mb-4">
          Welcome to <span class="text-primary text-uppercase">Hotelier</span>
        </h1>
        <p class="mb-4">
          Experience timeless elegance and unparalleled comfort at Hotelier. 
          Our beautifully designed rooms provide a serene retreat, featuring 
          luxurious amenities and modern conveniences. Whether you're traveling 
          for business or pleasure, our dedicated staff ensures every moment of 
          your stay is exceptional. Indulge in gourmet dining, relax in our 
          tranquil spa, and explore the vibrant city just outside our doors. At 
          Hotelier, we transform every stay into a cherished memory.
        </p>
        <div class="row g-3 pb-4">
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-hotel fa-2x text-primary mb-2"></i>
                <h2 class="mb-1" data-toggle="counter-up">853</h2>
                <p class="mb-0">Rooms</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
                <h2 class="mb-1" data-toggle="counter-up">698</h2>
                <p class="mb-0">Staffs</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-users fa-2x text-primary mb-2"></i>
                <h2 class="mb-1" data-toggle="counter-up">58637</h2>
                <p class="mb-0">Clients</p>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="">Explore More</a>
      </div>
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.1s"
              src="{{url_for('static', filename='img/about-1.jpg')}}"
              style="margin-top: 25%"
            />
          </div>
          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-100 wow zoomIn"
              data-wow-delay="0.3s"
              src="{{url_for('static', filename='img/about-2.jpg')}}"
            />
          </div>
          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-50 wow zoomIn"
              data-wow-delay="0.5s"
              src="{{url_for('static', filename='img/about-3.jpg')}}"
            />
          </div>
          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.7s"
              src="{{url_for('static', filename='img/about-4.jpg')}}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title text-center text-primary text-uppercase">
        <a href="{{url_for('team')}}">Our Team</a>
      </h6>
      <h1 class="mb-5">
        Explore Our <span class="text-primary text-uppercase">Staffs</span>
      </h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img
              class="img-fluid"
              src="{{url_for('static', filename='img/team-1.jpg')}}"
              alt=""
            />
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">Michael Brown</h5>
            <small>Front Office Manager</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img
              class="img-fluid"
              src="{{url_for('static', filename='img/team-2.jpg')}}"
              alt=""
            />
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">Thomas Anderson</h5>
            <small>Head of Housekeeping</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img
              class="img-fluid"
              src="{{url_for('static', filename='img/team-3.jpg')}}"
              alt=""
            />
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">David Johnson</h5>
            <small>Chief Concierge</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img
              class="img-fluid"
              src="{{url_for('static', filename='img/team-4.jpg')}}"
              alt=""
            />
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">John Smith</h5>
            <small>General Manager</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

{% endblock %}
