{% extends "base.html" %} {% block content %}

<!-- Page Header Start -->
<div 
class="container-fluid page-header mb-5 p-0" 
style="background-image: url('{{url_for('static', filename='/img/carousel-1.jpg')}}')"
>
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center pb-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">
            Booking
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Page Header End -->

{% include 'components/disponibility.html' %}

{% with message = get_flashed_messages() %}
  {% if message %}
    <div class="alert alert-secondary" role="alert">
      {{ message[0] }}
    </div>
  {% endif %}
{% endwith %}

<!-- Booking Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title text-center text-primary text-uppercase">
        Room Booking
      </h6>
      <h1 class="mb-5">
        Book A <span class="text-primary text-uppercase">Luxury Room</span>
      </h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.1s"
              src="{{url_for('static', filename='/img/about-1.jpg')}}"
              style="margin-top: 25%"
            />
          </div>
          <div class="col-6 text-start">
            <img
            class="img-fluid rounded w-100 wow zoomIn"
              data-wow-delay="0.3s"
              src="{{url_for('static', filename='/img/about-2.jpg')}}"
            />
          </div>
          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-50 wow zoomIn"
              data-wow-delay="0.5s"
              src="{{url_for('static', filename='/img/about-3.jpg')}}"
            />
          </div>
          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.7s"
              src="{{url_for('static', filename='/img/about-4.jpg')}}"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <form action="{{url_for('booking')}}" method="post">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  name="nombre"
                  required
                />
                <label for="name">Your Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Your Email"
                  name="email"
                  required
                />
                <label for="email">Your Email</label>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="form-floating date"
                id="date3"
                data-target-input="nearest"
              >
                <input
                  type="date"
                  class="form-control datetimepicker-input"
                  id="fecha_ingreso"
                  placeholder="Check In"
                  data-target=""
                  data-toggle="datetimepicker"
                  name="fecha_ingreso"
                  required
                />
                <label for="fecha_ingreso">Check In</label>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="form-floating"
              >
                <input
                  type="number"
                  class="form-control"
                  id="cantidad_noches"
                  placeholder="Cantidad de Noches"
                  name="cantidad_noches"
                  min="1"
                  max="100"
                  required
                />
                <label for="cantidad_noches">Amount of nights</label>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="form-floating"
              >
                <input
                  type="number"
                  class="form-control"
                  id="huespedes"
                  placeholder="Cantidad de Huespedes"
                  name="huespedes"
                  min="1"
                  max="10"
                  required
                />
                <label for="huespedes">Amount of guests</label>
              </div>
            </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <select class="form-select" id="numero_habitacion" name="numero_habitacion" required>
                    {% for habitacion in habitaciones %}
                      <option value="{{habitacion['numero']}}">{{habitacion['numero']}}</option>
                    {% endfor %}
                  </select>
                  <label for="numero_habitacion">Select A Room</label>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">
                  Book Now
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Booking End -->

{% endblock content %}
