{% extends "base.html" %} {% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url('/static/img/carousel-1.jpg')">
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center pb-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Contact</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">
            Contact
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Page Header End -->

{% include 'components/disponibility.html' %}

<!-- Contact Start -->
<div class="fluid-container-xxl pt-5 mx-0" style="max-width: 100%;">
  <div class="fluid-container mx-0">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <!-- Aplicar clase para el estilo azul -->
      <div class="contact-header text-center text-uppercase">
        <h1 class="section-title text-blue">Contact Us</h1>
        <h1 class="text-blue mb-5">hotelierdtt@gmail.com</h1>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-12">
        <div class="row gy-4">
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
    {% with message = get_flashed_messages() %}
      {% if message %}
        <div class="alert alert-secondary" role="alert">
          {{ message[0] }}
        </div>
      {% endif %}
    {% endwith %}
    <!-- Principal Conteiner -->
    <div class="fluid-container my-5">
      <!-- Flexbox Conteiner to centry elements -->
      <div class="d-flex justify-content-center align-items-center">
        <!--Map-->
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 wow fadeIn mb-4" data-wow-delay="0.1s">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.6795880065756!2d-73.98409732457462!3d40.76907147138513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f66d739287%3A0x3e335c4bb2b6fff!2sTrump%20International%20Hotel%20%26%20Tower%20New%20York!5e0!3m2!1ses!2sar!4v1717539881219!5m2!1ses!2sar"
                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="mb-4"></iframe>
            </div>



            <!--Form-->
            <div class="col-lg-6 col-md-12 wow fadeInUp mb-4" data-wow-delay="0.2s">
              <div class="wow fadeInUp" data-wow-delay="0.2s">
                <form action="{{url_for('contact')}}" method="post">
                  <div class="row g-3">
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Your Name"
                          required />
                        <label for="nombre">Your Name</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" name="mail" class="form-control" id="mail" placeholder="Your Email"
                          required />
                        <label for="mail">Your Email</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input type="text" name="asunto" class="form-control" id="asunto" placeholder="Subject"
                          required />
                        <label for="asunto">Subject</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <textarea class="form-control" name="mensaje" placeholder="Leave a message here" id="mensaje"
                          style="height: 150px" required></textarea>
                        <label for="mensaje">Message</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100 py-3" type="submit">
                        Send Message
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    {% endblock content %}