{% extends "base.html" %}

{% block content %}
<br>
<div>

<p>
    At Hotelier, we are committed to protecting the privacy and confidentiality of our guests. This privacy policy outlines how we collect, use, and safeguard your personal information. By using our website or services, you agree to the terms described below.
    <br>
    Information We Collect:
        We collect personal information such as names, contact details, payment information, and preferences when you make a reservation or interact with our website.
        We also collect non-personal information, including browser type, IP address, and browsing behavior, to improve our services and enhance your experience.
        <br>
    How We Use Your Information:
        We use your personal information to process reservations, provide services, and communicate with you.
        We may use non-personal information for analytics, marketing, and website optimization.
        <br>
    Data Retention:
        We retain guest records for the duration required by applicable laws and regulations.
        If you create an account, we store your information until you request deletion.
        <br>
    Sharing Information:
        We do not sell or rent your personal information to third parties.
        We may share information with service providers, legal authorities, or in response to legal requests.
        <br>
    Security Measures:
        We implement industry-standard security measures to protect your data.
        However, no method of transmission over the internet is completely secure, and we cannot guarantee absolute security.
        <br>
    Cookies and Tracking:
        Our website uses cookies to enhance your browsing experience.
        You can adjust your browser settings to manage cookies.
        <br>
    Your Rights:
        You have the right to access, correct, or delete your personal information.
        To exercise these rights, please contact us at [insert contact email].
        <br>
    Updates to Privacy Policy:
        We may update this privacy policy periodically. Please check back for any changes.
        <br>
By using our website, you consent to the terms outlined in this privacy policy.


</p>






</div>






{% endblock %}