{% extends "base.html" %}

{% block content %}
<div>
<br>
    <p>
    Hotelier Terms and Conditions

Welcome to Hotelier! By using our services, you agree to comply with and be bound by the following terms and conditions. Please read these carefully before using our website or making a reservation.
        <br>
    Reservation Policy:
        All reservations are subject to availability.
        Guests must be at least 18 years old to make a reservation.
        <br>
    Payment Policy:
        Payment is required at the time of booking.
        We accept major credit cards and cash payments.
        <br>
    Cancellation Policy:
        Cancellations must be made at least 24 hours prior to the check-in date.
        Late cancellations or no-shows may result in a penalty charge.
        <br>
    Check-in/Check-out Policy:
        Check-in time is at 3:00 PM.
        Check-out time is at 12:00 PM.
        Early check-in or late check-out may be available upon request and subject to availability.
        <br>
    Guest Responsibilities:
        Guests are responsible for any damages caused to the hotel property.
        Smoking is strictly prohibited in all indoor areas of the hotel.
        <br>
    Privacy Policy:
        We respect your privacy and are committed to protecting your personal information. Please refer to our Privacy Policy for details on how we collect, use, and disclose your information.
        <br>
    Limitation of Liability:
        Hotelier shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our services.
        <br>
    Governing Law:
        These terms and conditions shall be governed by and construed in accordance with the laws of Argentina.
        <br>
    Changes to Terms and Conditions:
        Hotelier reserves the right to modify or update these terms and conditions at any time without prior notice. It is your responsibility to review these periodically for changes.
</p>
</div>
{% endblock %}





